[e1-accordian-toggle]{
    padding: 7px 14px 7px 21px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.062);
    cursor: pointer;
    position: relative;
    transition: background .2s;
}

[e1-accordian-toggle]:hover{
    background: rgba(255, 255, 255, 0.1);
}

[e1-accordian-toggle].active-accordian{
    background: rgba(255, 255, 255, 0.2);
}

[e1-accordian-toggle]:before{
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left-color: rgba(255,255,255,.38);
    height: 0;
    width: 0;
    display: inline-block;
    transform: translate(-12px,0);
    transition: transform .2s;
    top: calc(50% - 5px);
}

[e1-accordian-toggle].active-accordian:before{
    transform: translate(-14px, 2px) rotate(90deg);
}

[e1-accordian-content]{
    width: 100%;
    height: auto;
    position: absolute;
    pointer-events: none;
    transform: scale(1, 0);
    transform-origin: center top;
    opacity: 0;
    transition: transform .2s, opacity .1s;
}

[e1-accordian-content].active-accordian{
    position: relative;
    opacity: 1;
    pointer-events: all;
    transform: none;
}