html{
    background: #1f2225;
    color: #d4d6da;
    font-size: 14px;
    font-family: sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

body *{
    box-sizing: border-box;
}

h1{
    padding: 21px 0px;
    margin: 0px;
    color: #fff;
}

h1 small{
    font-size: 14px;
    font-weight: 100;
    vertical-align: middle;
}

h3{
    margin: 0px 0px 42px;
    border-bottom: 1px solid #1f252b;
    padding-bottom: 7px;
}

p{
    margin: 14px 0px;
    line-height: 21px;
}

ul{
    list-style: none;
}

li{
    line-height: 21px;
    margin-bottom: 14px;
}

li::before {
    content: "• ";
    color: #658eb3;
    margin: 0px 5px 0px -14px;
  }

label{
    display: block;
    padding-bottom: 7px;
}

label small{
    opacity: .68;
}

input, textarea{
    border: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;
    color: #d4d6da;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px rgba(101, 142, 179, 0.38);
    background: rgba(66, 90, 111, 0.18);
    transition: .2s;
}

input:focus, textarea:focus{
    box-shadow: 0px 0px 0px 1px rgba(101, 142, 179, 0.62);
    background: rgba(66, 90, 111, 0.38);
}

button{
    padding: 10px 14px;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px rgba(101, 142, 179, 0.62);
    background: rgba(66, 90, 111, 0.82);
    transition: background .2s, color .2s;
}

button:hover{
    color: #fff;
    background: rgba(76, 100, 121, 1);
}

textarea{
    min-height: 70px;
}

input, textarea, button{
    line-height: 21px;
    font-size: 14px;
    outline: none !important;
}

input[type="checkbox"]{
    width: 21px;
    position: relative;
    height: 21px;
    background: transparent;
    border: none;
    appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    padding: 0px;
    vertical-align: middle;
}

input[type="checkbox"]:before{
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    box-shadow: 0px 0px 0px 1px rgba(101, 142, 179, 0.38);
    background: rgba(66, 90, 111, 0.18);
    opacity: 1;
    cursor: pointer;
    pointer-events: none;
}

input[type="checkbox"]:hover::before{
    background: rgba(66, 90, 111, 0.38);
}

input[type="checkbox"]:checked::before{
    background: rgba(66, 90, 111, 1);
}

body pre {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    margin: 0px;
    overflow: auto;
    padding: 0px;
    background: #171a1d;
}

code{
    background: #282c2f;
    padding: 14px 7px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    overflow: auto;
    line-height: 14px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.24);
}

a{
    color: inherit;
}

.box{
    margin: 21px 0px;
    padding: 21px;
    box-sizing: border-box;
    background: #17191b;
}

.group{
    margin-bottom: 14px;
}

h2[e1-accordian-toggle]{
    display: block;
    padding: 14px 14px 14px 21px;
}

/* #container{
    display: flex;
}

#sidebar{
    width: 200px;
} */

/* #sidebar [e1-accordian-toggle-group]{
    width: 100%;
    background: transparent;
}

.sidebar-content{
    padding-left: 14px;
}

#main{
    width: calc(100% - 200px);
    padding: 0px 0px 0px 42px;
}

#sidebar [e1-accordian-toggle]{
    color: #658eb3;
}

#sidebar [e1-accordian-toggle].active-accordian{
    color: #fff;
}

.active-accordian::before{
    border-left-color: #fff;
} */

#header{
    padding: 21px;
    background: #31889e;
}

#nav{
    border-bottom: 1px solid rgb(23, 27, 31);
    padding: 21px;
    background: #2a343a;
    border-top: 1px solid rgb(13, 38, 45);
}

#nav>*{
    margin-left: 14px;
}

#nav>*:nth-child(1){
    margin-left: 0px;
}

#nav [e1-accordian-toggle]{
    padding: 7px 14px;
}

#nav [e1-accordian-toggle]:before{
    display: none;
}

#nav .dropdown-list-option{
    padding: 0px;
}

#nav>[e1-accordian-toggle] {
    background: transparent;
    padding: 0px;
}

#main-content{
    padding: 28px 21px;
}

#main-content .section{
    display: none;
}

#main-content .section.active{
    display: block;
}

.token.attr-value{
    color: #07a;
}

.token.attr-name{
    color: #c7a267;
}

.token.tag{
    color: hsl(0, 0%, 56%);
}

#mocha{
    position: relative;
    margin: 0px;
}

#mocha h1{
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #303435;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

ul#mocha-stats{
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 14px;
    color: inherit;
    display: flex;
    padding: 7px;
    background: #36889e;
}

#mocha li::before{
    display: none;
}

#mocha li.test:before{
    display: inline-block;
    margin: 0px;
}

#mocha-stats em {
    color: inherit;
}

#mocha-stats .progress{
    background: #fff;
    display: inline-block;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px #36889e, 0px 0px 0px 2px #36889e;
}

#mocha .test a.replay{
    color: #fff;
    font-size: 25px;
    opacity: 1;
    background: #36889e;
}

#mocha .test a.replay{
    display: none;
}